/*!
Adapted from:
Bootstrap Reboot, licensed MIT
https://github.com/twbs/bootstrap/blob/master/LICENSE
Normalize.css, licensed MIT
https://github.com/necolas/normalize.css/blob/master/LICENSE.md
Reset CSS 2.0, public domain
http://meyerweb.com/eric/tools/css/reset/
Cupper, licensed MIT
https://github.com/ThePacielloGroup/cupper/blob/master/LICENSE
*/

$background-color: #222;
$foreground-color: #ddd;
$foreground-bright-color: #fff;
$focus-color: #88f;
$selection-color: #228;
$code-background-color: #181818;

// Reset
*,
*::before,
*::after {
  font: inherit;
  background: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* + * {
  margin-bottom: 2rem;
}

li + li {
  margin-bottom: 0;
}

html {
  font-size: 125%;
  line-height: 1.75;
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
  // Don't show link highlight when tapped in iOS
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  background-color: $background-color;
  color: $foreground-color;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

// Ensure older browsers display these HTML5 elements properly
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  // Remove the gray background on active links in IE 10.
  background-color: transparent;
  // Remove underline, replace with border for improved readability
  text-decoration: none;
  border-bottom: 1px solid;
  outline-offset: 2px;
}

a:hover,
a:focus {
  color: $foreground-bright-color;
}

abbr {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dashed;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

pre,
code,
kbd,
samp {
  /* stylelint-disable-next-line font-family-no-duplicate-names */
  font-family: monospace, monospace;
  font-size: 1em;
  background-color: $code-background-color;
  padding: 0.2rem;
}

pre > code {
  padding: 0;
}

pre {
  overflow-x: auto;
  border: 1px solid;
  padding: 1rem;
}

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  // Remove the border on images inside links in IE 10.
  border-style: none;
  max-width: 100%;
  max-height: 50vh;
}

template {
  // Add the correct display in IE 10+
  display: none;
}

[hidden] {
  // Add the correct display in IE 10
  display: none;
}

button,
input {
  // IE fix
  overflow: visible;
}

button,
select {
  // Remove the inheritance of text transform in Edge, Firefox, and IE.
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  // Correct the inability to style clickable types in iOS and Safari.
  -webkit-appearance: button;
}

//  Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  // Correct the text wrapping in Edge and IE.
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  // Add the correct vertical alignment in Chrome, Firefox, and Opera.
  vertical-align: baseline;
}

textarea {
  //  * Remove the default vertical scrollbar in IE 10+.
  overflow: auto;
}

//  * Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  // Correct the odd appearance in Chrome and Safari.
  -webkit-appearance: textfield;
  // Correct the outline style in Safari.
  outline-offset: -2px;
}

//  Remove the inner padding in Chrome and Safari on macOS.
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  // Correct the inability to style clickable types in iOS and Safari.
  -webkit-appearance: button;
}

table {
  border-collapse: collapse;
}

body > main {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

nav {
  text-align: center;

  ul {
    margin-left: 0;
    list-style: none;

    li {
      display: inline-block;
      font-size: 1.125rem;
      font-weight: bold;
      padding: 1rem;
    }
  }
}

.posts {
  list-style: none;

  li {
    padding-top: 1rem;
  }

  li + li {
    border-top: 1px solid;
  }

  article > header {
    margin-bottom: 1rem;

    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }
}

footer {
  padding-top: 1rem;
}

figure {
  text-align: center;

  figcaption {
    font-style: italic;
  }
}

[href="#main-content"] {
  position: absolute;
  top: -10rem;
  background-color: $background-color;
  border: 2px solid;
  padding: 1rem;
}

[href="#main-content"]:focus {
  top: 1rem;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

::selection {
  background: $selection-color;
}

::-moz-selection {
  background: $selection-color;
}

:focus {
  outline: 4px solid $focus-color;
}
