{% extends "index.html" %}

{% block main %}
<h1>Tags</h1>
<ul>
{% for term in terms %}
<li><a href="{{ term.permalink }}">{{ term.name }} ({{ term.pages | length }})</a></li>
{% endfor %}
</ul>
{% endblock main %}
