{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <title>
    {% block title %}
    {% if page.title %}
    {{ page.title }} -
    {% elif section.title %}
    {{ section.title }} -
    {% endif %}
    {{ config.title }}
    {% endblock title %}
  </title>
</head>

<body>
  <a href="#main-content">Skip to main content.</a>
  <header>
    <nav>
      <ul>
        {% for item in config.extra.menu %}
        <li><a href="{{ item.url | replace(from='$BASE_URL', to=config.base_url) }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main id="main-content">
    {% block main %}
    {% if section.content %}
    {{ section.content | safe }}
    {% endif %}
    <ul class="posts">
      {% for page in paginator.pages %}
      <li>
        <article>
          <header>
            <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
            {% if page.date %}
            <p>Published {{ page.date | date(format=config.extra.date_format) }}</p>
            {% endif %}
            {% if page.description %}
            <p>{{ page.description }}</p>
            {% endif %}
            {% if page.reading_time > 1 %}
            <p>Reading time {{ page.reading_time }} minutes ({{ page.word_count }} words)</p>
            {% else %}
            <p>Reading time less than a minute ({{ page.word_count }} words)</p>
            {% endif %}
            {% if page.taxonomies.categories %}
            <p>Categorized under {{ macros::taxo_list(array=page.taxonomies.categories, kind="categories") }}</p>
            {% endif %}
            {% if page.taxonomies.tags %}
            <p>Tagged with {{ macros::taxo_list(array=page.taxonomies.tags, kind="tags") }}</p>
            {% endif %}
          </header>
          {% if page.summary %}
          <p>{{ page.summary | safe | striptags }}</p>
          <p><a href="{{ page.permalink }}#zola-continue-reading">Continue reading.</a></p>
          {% endif %}
        </article>
      </li>
      {% endfor %}
    </ul>
    {% endblock main %}
    {% if paginator %}
    {% include "paginator.html" %}
    {% endif %}
  </main>

  <footer>
    {% if config.extra.copyright %}
    <p>{{ config.extra.copyright | safe }}</p>
    {% endif %}
    {% if config.extra.footer %}
    <p>{{ config.extra.footer | safe }}</p>
    {% endif %}
  </footer>
</body>

</html>
