<nav>
  Page {{ paginator.current_index }} of {{ paginator.number_pagers }}.
  <ul>
    {% if paginator.previous %}
    <li><a href="{{ paginator.previous }}">Previous page</a></li>
    {% endif %}
    {% if paginator.next %}
    <li><a href="{{ paginator.next }}">Next page</a></li>
    {% endif %}
  </ul>
</nav>
