{% extends "index.html" %}

{% block main %}
{% if paginator %}
<ul>
  {% for page in paginator.pages %}
  <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock main %}
